<a href="https://colab.research.google.com/github/rvijayraj/datacamp/blob/main/Intermediate_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***PANDAS PART -2 ***

In [ ]:
# check for two errors

PANDAS , COMPARISON OPERATORS ,

***PANDAS***

In [1]:
import pandas as pd

In [2]:
# converting brics.csv file into a dataframe. 
brics = pd.read_csv("brics.csv",index_col = 0)
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

Column Access : Either Single or Mulitple Column names are speficied in square braces.

In [3]:
brics["country"]

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

Data Obtaining Types as 

1D Array : use single square braces.  Ex: brics["country"] 

Data Frame : use double square braces.  Ex: brics[["country"]]

In [4]:
type(brics["country"])  # this is a 1 D labelled array

pandas.core.series.Series

In [5]:
type(brics[["country"]])  # this is a dataframe format.

pandas.core.frame.DataFrame

Row Access: 
In the sqaure braces a data slice or range of data is specified.

In [6]:
brics[1:4]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

loc (Location-Based)

iloc (Integer Position Based)

Row loc : here single or multiple row labels are specified in loc function.

In [7]:
brics.loc[["RU","IN","CH"]]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

Rows and Columns loc:  we speicify rows and columns just to select  few elements from whole set of data, as a result their interstection is returned. 

brics[[rows],[columns]]
Ex: 
brics[["RU","IN","CH"],["country","capital"]]

In [8]:
brics.loc[["RU","IN","CH"] , ["country","capital"]]

   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

Row Access iloc : 

we define the index of rows instead of giving row labels
Ex: brics.iloc[[1,2,3]]

In [9]:
 brics.iloc[[1,2,3]]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [10]:
#Both Rows and Columns using iloc : 

brics.iloc[[1,2,3],[0,1]]

   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [11]:
# to keep all rows and only two selected columns: 

brics.iloc[:,[0,1]]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

***COMPARISION OPERATORS***

In [12]:
"carl" > "chris"

False

In [13]:
3 < "chris"   #we can't compare two data types , int and string

TypeError: ignored

LOGIC CONTROL FLOW AND FILTERING

In [ ]:
x = 8
y = 9
not(not(x < 3) and not(y > 14 or y > 10))

In [ ]:
area = 10.0
if(area < 9) :
    print("small")
elif(area < 12) :
    print("medium")
else :
    print("large")

In [ ]:
import pandas as pd
brics = pd.read_csv("brics.csv",index_col = 0)
brics

From the above dataframe, select countries with over 8 million population.

We follow 3 steps to achieve this ; 

Step 1 : Get Area Column. 

Step 2 : Compare the dataframe  with 8 

Step 3: Subset Data Frame.

In [ ]:
#step-1: 
brics["area"]

In [ ]:
#step-2: 
brics["area"] > 8

In [ ]:
#now this boolen series is stored in is_huge

is_huge = brics ["area"] > 8

In [ ]:
#step-3: Subsetting  the data frame. 
#here we simply call; is_huge variable which has series of values above 8 million by using it as index in brics[]

is_huge = brics[brics[area]>8]

In [ ]:
#suppose if we need 8 and 10 million sq kms then 
# we use logical_and is used

# np.logical_and(brics["area"] > 8 , brics["area"] < 10 )   - this code gives boolean series

import numpy as np 

# now this boolean series code is placed inside brics to  obtian values. 

brics[np.logical_and(brics["area"] > 8 , brics["area"] < 10 )]

In [ ]:
#DRIVING RIGHT(1)

In [ ]:
cpc = 
many_cars = 
car_maniac = cars[cars['cars_per_cap'] > 500]

  WHILE LOOP: 
   
   while condition=:
        expression
* Numerically calculating model "repeaating actionuntil condition is met"

In [14]:
error = 50.0 
while error > 1:
  error = error / 4 
  print(error)

12.5
3.125
0.78125

Loop over list of lists: 

Write a for loop that goes through each sublist of house 
and prints out the x is y sqm, 
where x is the name of the room and y is the area of the room.

In [19]:
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
    
for room, area in house:
    print("the " + str(room) + " is " + str(area) + " sqm")

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

**LOOP DATA STRUCTURES - PART-2:** 
iterrows method is used 
iterrows looks at each itertation and generates  two pieces of data label of rows and actual pandas series.

for lab , row in bircs.iterrows(): 

lab = labels of rows or row labels. 
row = row data.

In [23]:
import pandas as pd 

brics = pd.read_csv("brics.csv", index_col = 0)

brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [26]:
#looping on data frame
import pandas as pd

brics = pd.read_csv("brics.csv", index_col = 0)

for lab , row in brics.iterrows():
  print(lab)
  print(row)

BR
country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object
RU
country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object
IN
country           India
capital       New Delhi
area              3.286
population         1252
Name: IN, dtype: object
CH
country         China
capital       Beijing
area            9.597
population       1357
Name: CH, dtype: object
SA
country       South Africa
capital           Pretoria
area                 1.221
population           52.98
Name: SA, dtype: object

In [ ]:
# SELECTIVE PRINT
# If we want to select only a specifi row , for instance capital in our case , then we just mention it in print statement. 

# We're required to print "capital " column 
import pandas as pd
brics = pd.read_csv("brics.csv", index_col = 0)
from lab , row in brics.iterrows():
print(lab + "+ " + row["capital"])

In [32]:
brics.loc[lab,"name_length"] = len(row["country"])
print(brics)

         country    capital    area  population  name_lenght  name_length
BR        Brazil   Brasilia   8.516      200.40          NaN          NaN
RU        Russia     Moscow  17.100      143.50          NaN          NaN
IN         India  New Delhi   3.286     1252.00          NaN          NaN
CH         China    Beijing   9.597     1357.00          NaN          NaN
SA  South Africa   Pretoria   1.221       52.98         12.0         12.0

ADDING A NEW COLUMN: 

import pandas as pd

brics = pd.read_csv("brics.csv", index_col = 0)

for lab , row in brics.iterrows():

  brics.loc[lab,"name_length"] = len(row["country"])

print(brics)

**for lab , row in brics.iterrows():** - for loop is used to create a series on every iteration. 


**len(row["country"]) - Length of each country name**

**len()** - determines number of characters in a string. 

Its done by selecting country column from row and then passing it to length function. 

**brics.loc[lab,"name_length"] - to add column at appropriate location. **


The above obtained length information is then added to the new column at the appropriate location. 

**loc()** is used to find the label based location.

In [33]:
import pandas as pd
brics = pd.read_csv("brics.csv", index_col = 0)
for lab , row in brics.iterrows():
  brics.loc[lab,"name_length"] = len(row["country"])
print(brics)

         country    capital    area  population  name_length
BR        Brazil   Brasilia   8.516      200.40          6.0
RU        Russia     Moscow  17.100      143.50          6.0
IN         India  New Delhi   3.286     1252.00          5.0
CH         China    Beijing   9.597     1357.00          5.0
SA  South Africa   Pretoria   1.221       52.98         12.0

**Problem with above approach: **
The above code is nice but not efficient on as a new object is created on every iteration. 

For small data sets it doesnt matter but for large database it would be a loss in efficiency. 

**Solution:**
Using APPLY FUNCTION .

In [35]:
# APPLY  FUNCTION. 

import pandas as pd
brics = pd.read_csv("brics.csv",index_col = 0)
brics["name_length"] = brics["country"].apply(len)
print(brics)

         country    capital    area  population  name_length
BR        Brazil   Brasilia   8.516      200.40            6
RU        Russia     Moscow  17.100      143.50            6
IN         India  New Delhi   3.286     1252.00            5
CH         China    Beijing   9.597     1357.00            5
SA  South Africa   Pretoria   1.221       52.98           12

Due to APPLY FUNCTION there's no need of using FOR LOOP 

Here country column is selected from brics data frame and on this column,  length function is applied. 

Apply calls len function with each country name as input and produces a new array, that you can easily store as a new columnn called as "name_length".